GreekFire.NHibernateConsole/Service References/GreekFireServices/GreekFire.Domain.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GreekFire.Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GreekFire.Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfExpenseDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExpenseDto" nillable="true" type="tns:ExpenseDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExpenseDto" nillable="true" type="tns:ArrayOfExpenseDto" />
  <xs:complexType name="ExpenseDto">
    <xs:sequence>
      <xs:element name="_x003C_Description_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Id_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_LineItems_x003E_k__BackingField" nillable="true" type="tns:ArrayOfExpenseLineItemDto" />
      <xs:element name="_x003C_Title_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExpenseDto" nillable="true" type="tns:ExpenseDto" />
  <xs:complexType name="ArrayOfExpenseLineItemDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExpenseLineItemDto" nillable="true" type="tns:ExpenseLineItemDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExpenseLineItemDto" nillable="true" type="tns:ArrayOfExpenseLineItemDto" />
  <xs:complexType name="ExpenseLineItemDto">
    <xs:sequence>
      <xs:element name="_x003C_Amount_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_Description_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Expense_x003E_k__BackingField" nillable="true" type="tns:ExpenseDto" />
      <xs:element name="_x003C_Id_x003E_k__BackingField" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExpenseLineItemDto" nillable="true" type="tns:ExpenseLineItemDto" />
</xs:schema>